body{
  background: url('../img/main_background.svg') repeat-y;
  background-size: cover;
  /* background-position: center; */
  height: 100vh;

}

.navbar{
  padding-top: 20px;
}
.nav.navbar-nav{
  flex-direction: row;
}
.nav.navbar-nav li{
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.nav.navbar-nav li a{
  text-decoration: none;
  color: black
}
.navbar button{
  background-color: #E20100;
  padding: 14px 20px;
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  border-color: #E20100;
}

.research{
  align-items: center;
  min-height: 611px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 70px;
}
.research .row{
  position: relative;
  height: 100%;
  min-height: 350px;

}
.research .left_text{
  padding-left: 50px;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 50px;
  max-width: 590px;
}
.research h1{
  color: #661A1B;
  font-size: 55px;
  font-weight: bold;
}
.research p{
  color : rgb(84, 102, 129);
  font-size: 17px;
}

.research .right_image{
  padding: 30px;
}
.research .right_image img{
  height: 450px;
}

.research .button_group{
  margin-left: 30px;
}